# Dependencies
node_modules
.pnpm-store

# Builds
dist
build
.next
out
coverage

# Env / secrets
.env
.env.local
.env.*.local

# Logs / OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# Misc
*.tsbuildinfo
.turbo
